# @package training
name: splade

max_steps: 150000
batch_size: 62
eval_batch_size: 62
num_workers: 32
prefetch_factor: 2
grad_accumulation: 1

lr: 2e-5
weight_decay: 0.01
warmup_steps: 6000
scheduler: linear
max_grad_norm: 1.0

precision: bf16-mixed
use_cpu: false
torch_compile: true
torch_compile_loss: false
strategy: ddp
num_devices: null
device_id: 0

val_check_interval: 10000
limit_val_batches: 1.0
log_every_n_steps: 50
val_sample_size: 1000

validation_metrics:
  enabled: true
  k_list: [1, 5, 10, 50, 100]

temperature: 1.0

loss:
  type: in_batch
  pairwise_weight: 1.0
  in_batch_weight: 1.0
  multi_positive: true

distill:
  enabled: false
  weight: 1.0
  loss: mse
  teacher_score_key: teacher_scores
  fail_on_missing: true

regularization:
  query_weight: 0.0
  doc_weight: 0.0
  type: l1
  paper_faithful: true

beir_eval:
  enabled: false
  datasets: []
  sample_size: 128
  max_docs: 50000
  split: test
  hf_cache_dir: null

wandb:
  project: ${oc.env:WANDB_PROJECT,splade}
  entity: ${oc.env:WANDB_ENTITY,null}
  name: ${oc.env:WANDB_NAME,null}
  group: ${oc.env:WANDB_GROUP,null}
  tags: []
  mode: ${oc.env:WANDB_MODE,online}
  log_model: false
  save_dir: ${log_dir}
