# Global configs
seed: 10
log_dir: "logs"
root_dir_path: "."

# Defaults
defaults:
  - _self_
  - model: splade_v1_sum
  - dataset: msmarco_hf_train
  - training: splade_v1
  - testing: default
  # The following overrides are necessary to make the logging colorized.
  - override hydra/job_logging: colorlog_custom


hydra:
  output_subdir: null
  run:
    dir: ${log_dir}
  job_logging:
    handlers:
      console:
        class: logging.StreamHandler
        formatter: colorlog
        stream: ext://sys.stdout
      file:
        class: logging.FileHandler
        filename: ${log_dir}/evaluate.log