# Global configs
seed: 10
log_dir_base: "log"
tag: null
log_dir: ${tagged_log_dir:${log_dir_base},${tag}}
root_dir_path: "."

# Defaults
defaults:
  - _self_
  - model: splade_v2_max
  - dataset: msmarco
  - training: splade_v2_max
  - testing: default
  # The following overrides are necessary to make the logging colorized.
  - override hydra/job_logging: colorlog_custom


hydra:
  output_subdir: null
  run:
    dir: ${log_dir}
  job_logging:
    handlers:
      console:
        class: logging.StreamHandler
        formatter: colorlog
        stream: ext://sys.stdout
      file:
        class: logging.FileHandler
        filename: ${log_dir}/out.log