# Encoding entrypoint config
seed: 10
log_dir_base: "logs"
tag: null
log_dir: ${tagged_log_dir:${log_dir_base},${tag}}
root_dir_path: "."

# Defaults
defaults:
  - model: splade_v1
  - dataset: beir/msmarco
  - encoding: default
  - _self_
  - override hydra/job_logging: colorlog_custom

model:
  encode_path: encode
  index_path: index

hydra:
  output_subdir: null
  run:
    dir: ${log_dir}
  job_logging:
    handlers:
      console:
        class: logging.StreamHandler
        formatter: colorlog
        stream: ext://sys.stdout
      file:
        class: logging.FileHandler
        filename: ${log_dir}/encode.log
