# NanoBEIR proxy evaluation config
seed: 10
log_dir_base: "log"
tag: null
log_dir: ${tagged_log_dir:${log_dir_base},${tag}}
root_dir_path: "."

defaults:
  - _self_
  - model: splade_v1
  - testing: default
  - override hydra/job_logging: colorlog_custom

nanobeir:
  datasets: [msmarco, nfcorpus, nq]
  batch_size: ${testing.batch_size}
  cache_dir: null
  save_json: false
  use_huggingface_model: false

hydra:
  output_subdir: null
  run:
    dir: ${log_dir}
  job_logging:
    handlers:
      console:
        class: logging.StreamHandler
        formatter: colorlog
        stream: ext://sys.stdout
      file:
        class: logging.FileHandler
        filename: ${log_dir}/evaluate_nanobeir.log
