# Evaluation entrypoint config
seed: 10
log_dir_base: "log"
tag: null
log_dir: ${tagged_log_dir:${log_dir_base},${tag}}
root_dir_path: "."

# Defaults
defaults:
  - _self_
  - model: splade_v1
  - encoding: default
  - dataset: beir/msmarco
  - testing: default
  # The following overrides are necessary to make the logging colorized.
  - override hydra/job_logging: colorlog_custom

dataset:
  max_padding: ${testing.max_padding}

evaluation:
  # Supported values: retrieval, reranking.
  type: retrieval

hydra:
  output_subdir: null
  run:
    dir: ${log_dir}
  job_logging:
    handlers:
      console:
        class: logging.StreamHandler
        formatter: colorlog
        stream: ext://sys.stdout
      file:
        class: logging.FileHandler
        filename: ${log_dir}/evaluate.log